{% load i18n hosts django_tables2 %}

<div class="ibox ">
  <div class="ibox-title">
    <h5>{{ table.title|default:_("Table") }}</h5>
    <div class="ibox-tools">
      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
      {% if table.closable %}
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      {% endif %}
    </div>
  </div>
  <div class="ibox-content">
    <div class="table-responsive">
      <div class="dataTables_wrapper dt-bootstrap4">
        <div class="d-flex align-items-center gap-2">
          {% if table.handler.search_fields %}
            <div>
              {% include 'Admin/base/forms/form.html' with form=table.handler.get_search_form %}
            </div>
          {% endif %}

          {% if table.handler.filterset %}
            <a data-toggle="modal" class="btn btn-primary" href="#modal-form">
              {% trans 'Filters' %}
            </a>
            <form method="get" class="m-0">
              <button type="submit" class="btn btn-warning" name="page"
                      value="{{ request.GET.page }}">{% trans 'Clear filters' %}</button>
            </form>
          {% endif %}
        </div>
        {% render_table table.handler.table %}
      </div>
    </div>
  </div>
</div>

{% if table.handler.filterset %}
  <div id="modal-form" class="modal fade" aria-modal="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% include 'Admin/base/forms/form.html' with form=table.handler.get_filter_form %}
        </div>
      </div>
    </div>
  </div>
{% endif %}