{% extends 'Admin/Medicine/base.html' %}
{% load i18n hosts custom_tags %}

{% block menu-medicine-home-active %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% host_url 'medicine:home' host 'admin' %}">{% trans 'Medicine home page' %}</a>
  </li>
{% endblock %}

{% block content %}
  <div class="ibox-content forum-container">
    <div class="forum-title">
      <h3>{% trans 'Medicine handbooks' %}</h3>
    </div>
    <div class="forum-item active">
      <div class="row">
        <div class="col-md-9">
          <div class="forum-icon">
            <i class="fa fa-book"></i>
          </div>
          <a href="{% host_url 'medicine:allergy-types-list' host 'admin' %}" class="forum-item-title">
            {% trans 'Allergy type' %}
          </a>
          <div class="forum-sub-title">
            {% trans 'No tasks in progress' %}
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
              {{ allergy_type_count }}
          </span>
          <div>
            <small>{% trans 'Count' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
            <a href="https://hl7.org/fhir/valueset-allergy-intolerance-category.html"
               target="_blank">
              <i class="fa fa-link fa-1x"></i>
            </a>
          </span>
          <div>
            <small>{% trans 'Source' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                    aria-expanded="false">{% trans 'Actions' %}</button>
            <ul class="dropdown-menu" x-placement="bottom-start">
              <li><a class="dropdown-item"
                     href="{% host_url 'medicine:allergy-types-export-json' host 'admin' %}">{% trans 'Export (.json)' %}</a>
              </li>
              <li><a class="dropdown-item"
                     href="{% host_url 'medicine:allergy-types-export-csv' host 'admin' %}">{% trans 'Export (.csv)' %}</a>
              </li>
              <li><a class="dropdown-item"
                     href="{% host_url 'medicine:home-allergy-types-sync' host 'admin' %}">{% trans 'Sync' %}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="forum-item active">
      <div class="row">
        <div class="col-md-9">
          <div class="forum-icon">
            <i class="fa fa-book"></i>
          </div>
          <a href="{% host_url 'medicine:allergy-causes-list' host 'admin' %}" class="forum-item-title">
            {% trans 'Allergy cause' %}
          </a>
          <div class="forum-sub-title">
            {% trans 'No tasks in progress' %}
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
              {{ allergy_cause_count }}
          </span>
          <div>
            <small>{% trans 'Count' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
            <a href="https://hl7.org/fhir/valueset-allergyintolerance-code.html"
               target="_blank">
              <i class="fa fa-link fa-1x"></i>
            </a>
          </span>
          <div>
            <small>{% trans 'Source' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                    aria-expanded="false">{% trans 'Actions' %}</button>
            <ul class="dropdown-menu" x-placement="bottom-start">
              <li><a class="dropdown-item"
                     href="{% host_url 'medicine:allergy-causes-export-json' host 'admin' %}">{% trans 'Export (.json)' %}</a>
              </li>
              <li><a class="dropdown-item"
                     href="{% host_url 'medicine:allergy-causes-export-csv' host 'admin' %}">{% trans 'Export (.csv)' %}</a>
              </li>
              <li><a class="dropdown-item"
                     href="{% host_url 'medicine:home-allergy-causes-sync' host 'admin' %}">{% trans 'Sync' %}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="forum-item active">
      <div class="row">
        <div class="col-md-9">
          <div class="forum-icon">
            <i class="fa fa-book"></i>
          </div>
          <a href="{% host_url 'medicine:allergy-reactions-list' host 'admin' %}" class="forum-item-title">
            {% trans 'Allergy reactions' %}
          </a>
          <div class="forum-sub-title">
            {% trans 'No tasks in progress' %}
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
              {{ allergy_reaction_count }}
          </span>
          <div>
            <small>{% trans 'Count' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
            <a href="https://build.fhir.org/ig/hl7ch/ch-term/ValueSet-CHAllergyIntoleranceReactionManifestationValueSet.html"
               target="_blank">
              <i class="fa fa-link fa-1x"></i>
            </a>
          </span>
          <div>
            <small>{% trans 'Source' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                    aria-expanded="false">{% trans 'Actions' %}</button>
            <ul class="dropdown-menu" x-placement="bottom-start">
              <li><a class="dropdown-item"
                     href="{% host_url 'medicine:allergy-reactions-export-json' host 'admin' %}">{% trans 'Export (.json)' %}</a>
              </li>
              <li><a class="dropdown-item"
                     href="{% host_url 'medicine:allergy-reactions-export-csv' host 'admin' %}">{% trans 'Export (.csv)' %}</a>
              </li>
              <li><a class="dropdown-item"
                     href="{% host_url 'medicine:home-allergy-reactions-sync' host 'admin' %}">{% trans 'Sync' %}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="forum-item active">
      <div class="row">
        <div class="col-md-9">
          <div class="forum-icon">
            <i class="fa fa-book"></i>
          </div>
          <a href="{% host_url 'medicine:icd10-list' host 'admin' %}" class="forum-item-title">
            {% trans 'ICD-10' %}
          </a>
          <div class="forum-sub-title">
            {% trans 'No tasks in progress' %}
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
              {{ icd_10_count }}
          </span>
          <div>
            <small>{% trans 'Count' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
            <a href="https://www.cms.gov/medicare/coordination-benefits-recovery/overview/icd-code-lists"
               target="_blank">
              <i class="fa fa-link fa-1x"></i>
            </a>
          </span>
          <div>
            <small>{% trans 'Source' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                    aria-expanded="false">{% trans 'Actions' %}</button>
            <ul class="dropdown-menu" x-placement="bottom-start">
              <li><a class="dropdown-item"
                     href="{% host_url 'medicine:icd10-export-json' host 'admin' %}">{% trans 'Export (.json)' %}</a>
              </li>
              <li><a class="dropdown-item"
                     href="{% host_url 'medicine:icd10-export-csv' host 'admin' %}">{% trans 'Export (.csv)' %}</a>
              </li>
              <li><a class="dropdown-item"
                     href="{% host_url 'medicine:home-icd10-sync' host 'admin' %}">{% trans 'Sync' %}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="events"></div>

{% endblock %}

{% block extrajs %}
  {% setting 'WS_BASE' as WS_BASE %}

  <script>
    (function () {
      function init() {
        var bus = new WSBus({
          baseUrl: "{{ WS_BASE|escapejs }}",
          path: "/ws/staff-events",
          tokenUrl: '/api/v1/web-server/token/obtain',
          onopen: function () {
            console.log('[ws] open');
          },
          onclose: function (ev) {
            console.log('[ws] close', ev && ev.code, ev && ev.reason);
          },
          onerror: function (err) {
            console.warn('[ws] error', err);
          }
        });

        bus.on('message', function (payload) {
          $('#events').prepend($('<div/>').text((typeof payload === 'string') ? payload : JSON.stringify(payload)));
        });

        window.WSBusInstance = bus.start();
        window.WSStop = function () {
          window.WSBusInstance.stop();
        };
      }

      if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', init);
      } else {
        init();
      }
    })();
  </script>
{% endblock %}