{% extends 'Admin/Medicine/base.html' %}
{% load i18n hosts %}

{% block menu-medicine-home-active %}active{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% host_url 'medicine:home' host 'admin' %}">{% trans 'Medicine home page' %}</a>
  </li>
{% endblock %}

{% block content %}
  <div class="ibox-content forum-container">
    <div class="forum-title">
      <h3>{% trans 'Medicine handbooks' %}</h3>
    </div>
    <div class="forum-item active">
      <div class="row">
        <div class="col-md-9">
          <div class="forum-icon">
            <i class="fa fa-book"></i>
          </div>
          <a href="{% host_url 'medicine:allergy-types-list' host 'admin' %}" class="forum-item-title">
            {% trans 'Allergy type' %}
          </a>
          <div class="forum-sub-title">
            {% trans 'No tasks in progress' %}
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
              {{ allergy_type_count }}
          </span>
          <div>
            <small>{% trans 'Count' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
            <a href="https://hl7.org/fhir/valueset-allergy-intolerance-category.html"
               target="_blank">
              <i class="fa fa-link fa-1x"></i>
            </a>
          </span>
          <div>
            <small>{% trans 'Source' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
            <a href="{% host_url 'medicine:home-allergy-type-sync' host 'admin' %}">
              <i class="fa fa-refresh fa-1x"></i>
            </a>
          </span>
          <div>
            <small>{% trans 'Sync' %}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="forum-item active">
      <div class="row">
        <div class="col-md-9">
          <div class="forum-icon">
            <i class="fa fa-book"></i>
          </div>
          <a href="{% host_url 'medicine:allergy-causes-list' host 'admin' %}" class="forum-item-title">
            {% trans 'Allergy cause' %}
          </a>
          <div class="forum-sub-title">
            {% trans 'No tasks in progress' %}
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
              {{ allergy_cause_count }}
          </span>
          <div>
            <small>{% trans 'Count' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
            <a href="https://hl7.org/fhir/valueset-allergyintolerance-code.html"
               target="_blank">
              <i class="fa fa-link fa-1x"></i>
            </a>
          </span>
          <div>
            <small>{% trans 'Source' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
            <a href="{% host_url 'medicine:home-allergy-cause-sync' host 'admin' %}">
              <i class="fa fa-refresh fa-1x"></i>
            </a>
          </span>
          <div>
            <small>{% trans 'Sync' %}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="forum-item active">
      <div class="row">
        <div class="col-md-9">
          <div class="forum-icon">
            <i class="fa fa-book"></i>
          </div>
          <a href="{% host_url 'medicine:allergy-reactions-list' host 'admin' %}" class="forum-item-title">
            {% trans 'Allergy reactions' %}
          </a>
          <div class="forum-sub-title">
            {% trans 'No tasks in progress' %}
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
              {{ allergy_reaction_count }}
          </span>
          <div>
            <small>{% trans 'Count' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
            <a href="https://build.fhir.org/ig/hl7ch/ch-term/ValueSet-CHAllergyIntoleranceReactionManifestationValueSet.html"
               target="_blank">
              <i class="fa fa-link fa-1x"></i>
            </a>
          </span>
          <div>
            <small>{% trans 'Source' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
            <a href="{% host_url 'medicine:home-allergy-reaction-sync' host 'admin' %}">
              <i class="fa fa-refresh fa-1x"></i>
            </a>
          </span>
          <div>
            <small>{% trans 'Sync' %}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="forum-item active">
      <div class="row">
        <div class="col-md-9">
          <div class="forum-icon">
            <i class="fa fa-book"></i>
          </div>
          <a href="{% host_url 'medicine:icd10-list' host 'admin' %}" class="forum-item-title">
            {% trans 'ICD-10' %}
          </a>
          <div class="forum-sub-title">
            {% trans 'No tasks in progress' %}
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
              {{ icd_10_count }}
          </span>
          <div>
            <small>{% trans 'Count' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
            <a href="https://www.cms.gov/medicare/coordination-benefits-recovery/overview/icd-code-lists"
               target="_blank">
              <i class="fa fa-link fa-1x"></i>
            </a>
          </span>
          <div>
            <small>{% trans 'Source' %}</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">
            <a href="{% host_url 'medicine:home-icd-10-sync' host 'admin' %}">
              <i class="fa fa-refresh fa-1x"></i>
            </a>
          </span>
          <div>
            <small>{% trans 'Sync' %}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}