{% load i18n hosts %}

<a href="{% host_url 'handbooks:country-view' record.id host 'admin' %}" class="btn btn-default" type="button">
  <i class="fa fa-eye"></i>
</a>
<a href="{% host_url 'handbooks:country-edit' record.id host 'admin' %}" class="btn btn-info" type="button">
  <i class="fa fa-pencil"></i>
</a>
{% if record.is_active %}
  <a href="{% host_url 'handbooks:country-archive' record.id host 'admin' %}" class="btn btn-danger action-archive"
     type="button">
    <i class="fa fa-trash"></i>
  </a>
{% else %}
  <a href="{% host_url 'handbooks:country-restore' record.id host 'admin' %}" class="btn btn-info action-restore"
     type="button">
    <i class="fa fa-refresh"></i>
  </a>
{% endif %}