{% load i18n widget_tweaks custom_tags %}

<form {% if form.id %}id="{{ form.id }}"{% endif %} role="form" action="{{ form.action|default:'' }}"
      method="{{ form.method|default:'post' }}" novalidate enctype="multipart/form-data">
  {% if form.skip_csf_token %}{% else %}{% csrf_token %}{% endif %}

  {% if form.informer %}
    <div class="alert alert-info">{{ form.informer|safe|escape }}</div>
  {% endif %}

  {% include 'Admin/base/non_field_errors.html' with form=form.form_body %}

  {% for field in form.form_body %}
    <div class="form-group{% if field.errors %} has-error{% endif %}{% if field.is_hidden %} d-none{% endif %}"
         id="form-field-container-{{ field.id_for_label }}">

      {% with class=field.field.widget|get_class %}
        {% if class|is_in:'ClearableFileInput,FileInput' %}
          {% include 'Admin/base/forms/fields/inputs/file_input.html' with field=field %}
        {% elif class|is_in:'DateTimeInput' %}
          {% include 'Admin/base/forms/fields/label.html' with field=field %}
          {% include 'Admin/base/forms/fields/inputs/datetime_input.html' with field=field %}
        {% elif class|is_in:'DateInput' %}
          {% include 'Admin/base/forms/fields/label.html' with field=field %}
          {% include 'Admin/base/forms/fields/inputs/date_input.html' with field=field %}
        {% elif class|is_in:'TimeInput' %}
          {% include 'Admin/base/forms/fields/label.html' with field=field %}
          {% include 'Admin/base/forms/fields/inputs/time_input.html' with field=field %}
        {% elif class|is_in:'URLInput' %}
          {% include 'Admin/base/forms/fields/label.html' with field=field %}
          {% include 'Admin/base/forms/fields/inputs/url_input.html' with field=field %}
        {% elif class|is_in:'EmailInput' %}
          {% include 'Admin/base/forms/fields/label.html' with field=field %}
          {% include 'Admin/base/forms/fields/inputs/email_input.html' with field=field %}
        {% elif class|is_in:'ColorInput' %}
          {% include 'Admin/base/forms/fields/label.html' with field=field %}
          {% include 'Admin/base/forms/fields/inputs/color_input.html' with field=field %}
        {% elif class|is_in:'CheckboxInput' %}
          {% include 'Admin/base/forms/fields/label.html' with field=field %}
          {% include 'Admin/base/forms/fields/inputs/checkbox_input.html' with field=field %}
          {% comment %}{% elif class|is_in:'RadioSelect' %}
          {% include 'Admin/base/forms/fields/label.html' with field=field %}
          {% include 'Admin/base/forms/fields/inputs/radio_input.html' with field=field %}{% endcomment %}
        {% else %}
          {% include 'Admin/base/forms/fields/label.html' with field=field %}
          {% include 'Admin/base/forms/fields/input.html' with field=field %}
        {% endif %}
      {% endwith %}
      {% include 'Admin/base/forms/fields/errors.html' with field=field %}
    </div>
  {% endfor %}

  {% include 'Admin/base/forms/buttons.html' with buttons=form.buttons %}
</form>